@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    font-family: MuseoModerno !important;
}
body{
    overflow-x: hidden !important;
}
::selection {
    color: black;
    background: #8338ec;
}
.nav-link,.dropdown-item{
    color:white !important;
}
.nav-link:hover,.dropdown-item:hover{
    color: #8338ec !important;
    background-color:rgb(43, 48, 53);
}
.action-dropdown:hover{
    color: white !important;
}
.cstm-btn, .register-login-btn{
    background-color: #8338ec !important;
}
.register-login-btn a{
    color: white;
    text-decoration: none;
}

.cstm-btn:hover{
    box-shadow: 2px 2px 15px 15px #8338ec43, -2px -2px 15px 15px #8338ec43;
}
.code-snippet{
    border: 2px solid #8338ec !important;
    background-color: #8338ec27 !important;
    border-radius: 8px;
}
.copy-data{
    color: white;
}
.copy-data:active{
    color:rgb(0, 255, 0) !important;
    transform: rotate(30deg);
}
.doc-info{
    font-family:'Titillium Web' !important;
}

.offcanva-btn{
    background-color: rgb(115, 0, 255) !important;
    padding: 0.6rem 0.3rem !important;
    border-radius: 5px !important;
    
}
.mock-list{
    border: 1px solid grey !important;
    height: 80vh !important;
    overflow-y: auto !important;
    border-radius: 8px !important;
    box-shadow:-5px -5px 10px 10px rgba(0,0,0,1) !important;
}
.mock-btn{
    padding: 0.3rem 0.5rem !important;
    font-size: 120% !important;
    background-color: #000000 !important;
    border-radius: 8px !important;
    border: 2px solid black !important;
    transition: all 0.4s ease !important;
}
.mock-btn:hover{
    border-color: #8338ec !important;
    box-shadow: 1px 1px 5px 5px #8338ec3c;
}


/*Popup*/

#pop-up{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: rgba(88, 88, 88, 0.599);
    border-radius: 5px;
    border: 1px solid black;
    padding: 1rem;
    
}

.pop-up-hide{
    display: none;
}

#token-generator{
    width: max-content;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: black;
    border: 2px solid black;
    z-index: 100000;
}

#close-btn{
    background-color: rgb(255, 44, 44);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 0 .5rem;
    border-radius: 8px;
}

.pop-up-show{
    display: block;
}