{% extends 'base.html' %}
{% block title %}ApiHub | PlayGround{% endblock title %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12 p-4">
            <p class="fs-4 doc-info">Welcome to ApiHub, a platform where you can discover and integrate various APIs for your projects. The platform offers limited access to unauthorized users, allowing up to 30 API requests per day. To unlock additional usage, simply register and obtain your unique API token. These APIs support various HTTP methods, including GET, POST, PUT, PATCH, DELETE, OPTIONS, and HEADERS, providing a full range of functionality for interacting with and managing resources. Whether you're a developer looking to practice or build new integrations, ApiHub provides the tools to experiment with different endpoints and enhance your skills in API consumption and management. For optimal usage, ensure proper authentication and follow best practices for secure and efficient API calls.</p>
        </div>
    </div>

    <!--End-Points Loop Start-->
    {% for endpoint in endpoints %}
    <div class="row mt-2 ps-5 pe-5 alert alert-secondary">
        <div>
            <h2 style="color:#fb5607; display:inline;">{{endpoint.endpoint_name}}</h2> 
            <span class="badge text-bg-success">Success : {{endpoint.success_code}}</span> 
            <span class="badge text-bg-danger">Error : {{endpoint.error_code}}</span>
        </div>
        <p class="fs-5">
            {{endpoint.endpoint_description|linebreaksbr}}
        </p>
        <div class="col-8 container row code-snippet m-3 px-2 py-2 fs-4">
            <!-- <div class="col-11">http://{{ request.get_host}}{{endpoint.endpoint_url}}</div> -->
            <div class="col-11"><span class="window-host"></span>{{endpoint.endpoint_url}}</div>

            <div class="col-1"><i class='bx bx-clipboard copy-data'></i></div>
        </div>
    </div>
    {% endfor %}
    <!--End-Points Loop End-->

<script>
    clip_buttons = document.querySelectorAll('.copy-data')
    host_address = document.querySelectorAll('.window-host')
    host_address.forEach((address)=>{
        address.innerText = window.location.host
    })

    clip_buttons.forEach((btn)=>{
        btn.addEventListener('click',(e)=>{
            navigator.clipboard.writeText(e.target.parentElement.previousSibling.previousSibling.textContent);
            Swal.fire({
                position: 'bottom-end', // Bottom-right position
                icon: 'success', // Toast icon type
                title: 'Api Copied',
                width : '200px',
                height : '50px',
                showConfirmButton: false, // No need for a confirm button
                timer: 800 // Toast duration
            });
            
        })
    });
</script>
{% endblock content %}