<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApiHub | Subscription</title>
    <style>
        body{
            background-color: #121212;
        }
        .container{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span{
            color: #8338ec;
            font-size: 1.5vw;
        }
    </style>
</head>
<body>
    <div class="container">
        <span>You are now a subscriber, Enjoy More api hits!!!! &#127881;</span>
    </div>
</body>
</html>