<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff5733">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.min.css" rel="stylesheet">
  </head>
<body data-bs-theme="dark">

    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height:10vh;">
        <div class="container-fluid">
          <a class="navbar-brand fs-2" href="/">
            <img src="{% static 'images/A.png' %}" alt="Bootstrap" width="150" height="70">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-5" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore <i class='bx bx-compass'></i>
                </a>
                <ul class="dropdown-menu p-3">
                  <li><a class="dropdown-item fs-5" href="/docs">PlayGround Documentation <i class='bx bxs-notepad fw-semibold fs-4' ></i></a></li>
                  <li><a class="dropdown-item fs-5" href="/custom-api">Custom Api Documentation <i class='bx bx-code-alt fw-semibold fs-4'></i></a></li>
                  <li><hr class="dropdown-divider fs-5"></li>
                  <li><a class="dropdown-item fs-5" href="/profile">Get Your JWT Token <i class='bx bx-coin' ></i></a></li>
                </ul>
              </li>
            </ul>

            {% if request.user.is_authenticated %}
              <button class="nav-item dropdown btn btn-sm register-login-btn me-4">
                <a class="nav-link dropdown-toggle fs-5 action-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.user}}
                </a>
                <ul class="dropdown-menu p-1 me-4">
                  <li><a class="dropdown-item fs-5" href="{% url 'profile' %}">Profile <i class='bx bx-user'></i></a></li>
                  <li><a class="dropdown-item fs-5" href="{% url 'logout' %}">Logout <i class='bx bx-exit' ></i></a></li>
                </ul>
              </button>
            {% else %}
            <span class="btn btn-md register-login-btn me-4"><a href="{% url 'login' %}">Login</a> / <a href="{% url 'register' %}">Register</a></span>
            {% endif %}

          </div>
        </div>
      </nav>
      <!--Navigation Bar-->

    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>